@import url("https://fonts.googleapis.com/css2?family=Bellota&display=swap");

body {
  display: grid;
  justify-items: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgb(182, 97, 114) 0%,
    rgba(255, 239, 213, 1) 100%
  );
  font-family: "Bellota", cursive;
}
.App {
  padding: 20px;
  padding-top: 200px;
  height: 100vh;
  line-height: 2rem;
  text-align: center;
}
