
body {
  background: linear-gradient(0deg, rgba(249,254,255,1) 0%, rgba(41,9,60,1) 100%) no-repeat fixed center;
}
.likes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 50px;
}
main {
  display: grid;
}
.all-buttons {
margin: 10px auto;
}
button {
padding: 0.7rem;
border-radius: 5px;
margin: 10px;
margin-top: 20px;
box-shadow: 0 0 5px #333;
font-size: 16px;
background-color: lavender;
outline: none;
border: none;
}
.even {
  background-color: lightblue;
}

.odd {
  background-color: mistyrose;
}