@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Righteous", cursive;
  background: linear-gradient(
      0deg,
      rgba(238, 148, 11, 0.7) 0%,
      rgba(238, 8, 8, 0.9) 100%
    )
    center center no-repeat;
}
/* 
.container{
  display: flex;
  align-items: center;
} */
h1, p {
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
}
button {
  padding: 10px;
  border-radius: 5px;
  font-family: "Righteous", cursive;
  font-size: 16px;
  border: none;
  margin: 10px;
}
