body {
}

.navigation-bar a {
  color: white;
}
.navigation-bar a:hover {
  text-decoration: none;
}
.home {
  /* background-color: steelblue; */
  color: white;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}


